{% capture tocWorkspace %}
    {% capture my_toc %}{% endcapture %}
    {% assign nodes = include.html %}
    {% assign minHeader = 1 %}
    {% assign maxHeader = 5 %}

    {% for node in nodes %}
        {% if node == "" %}
            {% continue %}
        {% endif %}

        {% assign headerLevel = node | replace: '"', '' | slice: 0, 1 | times 1 %}

        {% if headerLevel < minHeader or headerLevel > maxHeader %}
            {% continue %}
        {% endif %}

    {% endfor %}
{% endcapture %}{% assign tocWorkspace = '' %}{{ my_toc | markdownify | strip }}